= semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| 
  = f.inputs do
    = f.input :email, :label => 'Email'
    = f.input :password, :label => 'Password', :hint => "#{password_meter()} Please use at least one upper-case, lower-case, digit and special character.".html_safe
    // = render :partial => 'password_meter'
    = f.input :password_confirmation, :label => 'Password confirmation', :required => true

  = f.buttons do
    = f.commit_button true
= javascript_include_tag 'pwd_meter'
:javascript
  $(document).ready(function() {
    $('#user_password').bind('keyup', function() {
      chkPass(this.value);
    });
  })
