= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = f.inputs do
    = f.input :reset_password_token, :as => :hidden
    = f.input :password, :label => 'Password', :hint => "#{password_meter()} Please use at least one upper-case, lower-case, digit and special character.".html_safe
    // = render :partial => 'password_meter'
    = f.input :password_confirmation, :label => 'Password confirmation'

  = f.buttons do
    = f.commit_button :reset
= javascript_include_tag 'pwd_meter'
:javascript
  $(document).ready(function() {
    $('#user_password').bind('keyup', function() {
      chkPass(this.value);
    });
  })
