%h1 Forgot Password

%p Fill out the form below and instructions to reset your password will be emailed to you:

= semantic_form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email, :label => 'Email'

  = f.buttons do
    = f.commit_button :reset
